.hero{
    /* background-color: red; */
    margin: 3rem 0px;
}

.hero-details{
    /* background-color: green; */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2rem;
}

.hero-details h2{
    font-size: 65px;
    margin-top: 20px;
    /* background-color: yellow; */
}

.hero-details p{
    font-size: 20px;
    font-weight: 600;
    padding: 30px 10px;
    /* background-color: orange; */
}

.hero-button{
    display: inline-block;
    padding: 14px 28px;
    background: linear-gradient(90deg, #2563eb, #1d4ed8);
    color: #ffffff;
    font-size: 22px;
    font-weight: 600;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
    /* box-shadow: 0 4px 10px rgba(37, 99, 235, 0.3); */
}

/* WORKS */

.works{
    /* background-color: red; */
    margin: 6rem 0rem;
    padding: 20px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
}

.works h2{
    font-size: 45px;
}
.works-details{
    display: flex;
    gap: 5rem;
    align-items: center;
    justify-content: center;
}

.works-sections{
    /* background-color: green; */
    padding: 20px;
    width: 20%;
}
.works-sections h3{
    padding: 10px 0px;
    font-weight: 700;
}

.faUser,.faClock, .faFile{
    font-size: 50px;
    color: #2563eb;
    padding: 10px 0px;
}