.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 170px;
}

.nav img{
    height: 40px;
}

.nav ul{
    display: flex;
    align-items: center;
    gap: 60px;

}

.nav ul li{
    list-style: none;
    font-size: 25px;

}